<nav class="navbar has-background-white">
  <div class="navbar-menu is-flex is-justify-content-center">
    <div class="navbar-item">
      <a class="navbar-item has-text-grey has-text-centered is-size-4" href="/">Dashboard</a>
    </div>
  </div>
</nav>